@import url("https://fonts.googleapis.com/css2?family=Noto+Music&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 93%);
    --foreground: hsl(0, 0%, 4%);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply rounded-full py-2 px-3 text-xs font-bold tracking-wider cursor-pointer;
}

.rnd {
  @apply border-primary border-2 rounded-full ml-2 p-1 inline-block w-fit min-w-9 text-center;
}
